**DS_Store
*.log
*.key
*.pem
build/
node_modules/
generated/
temp/
*.bin
*.swp
*.env
*.etherlime-store
coverage/
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.vscode/
package-lock.json
.zos.session
deploy.json
coverage.json
coverage-artifacts/
*.outputParameter
flat/
venv/

# python stuff
.eggs
.mypy_cache
.tox
python-packages/*/build
python-packages/*/dist
__pycache__
python-packages/*/*.egg-info

#Graph
generated
buil
.idea
yarn.lock
packages/the-graph/v1.3.0/kovan/schema.graphql
packages/the-graph/v1.3.0rinkeby/schema.graphql
packages/the-graph/v1.3.0/mainnet/schema.graphql
build
generated