**DS_Store
*.log
*.key
*.pem
build/
node_modules/
temp/
*.bin
*.swp
*.env
*.etherlime-store
coverage/
yarn.lock
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.vscode/
package-lock.json
.zos.session
deploy.json
coverage.json
coverage-artifacts/
*.outputParameter
